<h1>Add a new photo</h1>

<form action="/create_photo">
  <div>
    <label for="src">Image URL</label>
    <input id="src" type="text" name="da_source" placeholder="www.example.com">
  </div>
  <div>
    <label for="cap">Caption</label>
    <input id="cap" type="text" name="da_caption" placeholder="Picture of...">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>
